@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p class="text-left">
        <input type="search" name="searchStr" value="" accesskey="s" placeholder="請輸入關鍵字" />
        @*@Html.TextBox("search")*@
        <input type="submit" value="搜尋" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
           @* NT: @string.Format("{0}", item.Price)*@
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
           @(item.Active.Value ? "啟用" : "停用")
           @* @Html.DisplayFor(modelItem => item.Active)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}
    <tr>
        <td></td>
        <td><a href="@Url.Action("BatchUpdate")" class="btn btn-default">批次更新</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
