@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p class="text-left">
        <input type="search" name="searchStr" value="" accesskey="s" placeholder="請輸入關鍵字" />
        @*@Html.TextBox("search")*@
        <input type="submit" value="搜尋" />
    </p>
}
@{
    var data = Model.ToArray();  
}
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>V</th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < data.Length; i++)
        {
            <tr>
                <td><input type="checkbox" name="ProductId" value="@data[i].ProductId" /></td>
                <td>
                    @Html.HiddenFor(modelItem => data[i].ProductId)
                    @Html.EditorFor(modelItem => data[i].ProductName)
                    @Html.ValidationMessageFor(modelItem => data[i].ProductName, "", new { @class = "text-danger" })
                </td>
                <td>
                    @* NT: @string.Format("{0}", item.Price)*@
                    @Html.EditorFor(modelItem => data[i].Price)
                </td>
                <td>
                   
                    @Html.HiddenFor(modelItem => data[i].Active)
                    @(data[i].Active.Value ? "啟用" : "停用")
                     @*@Html.LabelFor(modelItem => data[i].Active)*@
                </td>
                <td>
                 
                    @Html.EditorFor(modelItem => data[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>

        }
        @*@foreach (var item in Model)
        {

        }*@
        <tr>
            <td><input type="submit" name="BatchDelete" value="批次刪除" /></td>
            <td><a href="@Url.Action("BatchUpdate")" class="btn btn-default">批次更新</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
}

